<html>
<head>
<title>activity_login.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #f2d466;}
.s2 { color: #a2a9aa;}
.s3 { color: #6ccaf0;}
.s4 { color: #d2d8d9;}
.s5 { color: #ff7aad;}
</style>
</head>
<body bgcolor="#151d20">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_login.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s5">androidx.constraintlayout.widget.ConstraintLayout</span>
    <span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:padding</span><span class="s3">=&quot;24dp&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.Login&quot;</span>
    <span class="s1">android:background</span><span class="s3">=&quot;@color/white&quot;</span><span class="s2">&gt;</span>

    <span class="s2">&lt;!-- 제목 (좌측 정렬) --&gt;</span>
    <span class="s2">&lt;</span><span class="s5">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/tv_title&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/login_title&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;20sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/blue_90&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;48dp&quot; </span><span class="s2">/&gt;</span>


    <span class="s2">&lt;!-- 아이디 입력 --&gt;</span>
    <span class="s2">&lt;</span><span class="s5">com.google.android.material.textfield.TextInputLayout</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/email_layout&quot;</span>
        <span class="s1">style</span><span class="s3">=&quot;@style/Widget.MaterialComponents.TextInputLayout.OutlinedBox&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:hint</span><span class="s3">=&quot;@string/email_hint&quot;</span>
        <span class="s1">app:endIconMode</span><span class="s3">=&quot;clear_text&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@id/tv_title&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;24dp&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s5">com.google.android.material.textfield.TextInputEditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/et_email&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/grey_90&quot;</span>
            <span class="s1">android:textColorHint</span><span class="s3">=&quot;@color/grey_60&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;textEmailAddress&quot;</span><span class="s2">/&gt;</span>
    <span class="s2">&lt;/</span><span class="s5">com.google.android.material.textfield.TextInputLayout</span><span class="s2">&gt;</span>

    <span class="s2">&lt;!-- 비밀번호 입력 --&gt;</span>
    <span class="s2">&lt;</span><span class="s5">com.google.android.material.textfield.TextInputLayout</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/password_layout&quot;</span>
        <span class="s1">style</span><span class="s3">=&quot;@style/Widget.MaterialComponents.TextInputLayout.OutlinedBox&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:hint</span><span class="s3">=&quot;@string/password_hint&quot;</span>
        <span class="s1">app:passwordToggleEnabled</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@id/email_layout&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;12dp&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s5">com.google.android.material.textfield.TextInputEditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/et_password&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/grey_90&quot;</span>
            <span class="s1">android:textColorHint</span><span class="s3">=&quot;@color/grey_60&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;textPassword&quot;</span><span class="s2">/&gt;</span>
    <span class="s2">&lt;/</span><span class="s5">com.google.android.material.textfield.TextInputLayout</span><span class="s2">&gt;</span>

    <span class="s2">&lt;!-- 로그인 버튼 (화면 너비에 맞춰 확장) --&gt;</span>
    <span class="s2">&lt;</span><span class="s5">com.google.android.material.button.MaterialButton</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/btn_login&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;56dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/login&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s3">=&quot;@color/blue_60&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">app:cornerRadius</span><span class="s3">=&quot;24dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@id/password_layout&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;24dp&quot;</span><span class="s2">/&gt;</span>

    <span class="s2">&lt;!-- 로그인 상태 유지 (좌측 정렬 &amp; 여백 조정) --&gt;</span>
    <span class="s2">&lt;</span><span class="s5">CheckBox</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/cb_keep_login&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/keep_login&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/grey_80&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@id/btn_login&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;20dp&quot;</span><span class="s2">/&gt;</span>

    <span class="s2">&lt;!-- 하단 링크 (아이디 찾기 | 비밀번호 찾기 | 회원가입) --&gt;</span>
    <span class="s2">&lt;</span><span class="s5">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@id/cb_keep_login&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;center&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s5">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/tv_find_id&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/find_id&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/grey_70&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14sp&quot;</span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s5">TextView</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/line&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/grey_70&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14sp&quot;</span>
            <span class="s1">android:paddingStart</span><span class="s3">=&quot;12dp&quot;</span>
            <span class="s1">android:paddingEnd</span><span class="s3">=&quot;12dp&quot;</span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s5">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/tv_find_pw&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/find_pw&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/grey_70&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14sp&quot;</span><span class="s2">/&gt;</span>
    <span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s5">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;48dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;1.0&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@id/cb_keep_login&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s5">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/tv_join&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/join&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;@color/blue_60&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14sp&quot; </span><span class="s2">/&gt;</span>
    <span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span>


<span class="s2">&lt;/</span><span class="s5">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>